astroid==2.4.2
blis==0.4.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
cymem==2.0.3
docutils==0.16
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.3.1/es_core_news_sm-2.3.1.tar.gz
idna==2.10
isort==5.6.4
Kivy==2.0.0rc2
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
Kivy-Garden==0.1.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
murmurhash==1.0.2
numpy==1.19.2
plac==1.1.3
preshed==3.0.2
Pygments==2.7.2
pylint==2.6.0
pypiwin32==223
pywin32==228
requests==2.24.0
six==1.15.0
spacy==2.3.2
spacy-lookups-data==0.3.2
srsly==1.0.2
thinc==7.4.1
toml==0.10.1
tqdm==4.51.0
urllib3==1.25.11
wasabi==0.8.0
wrapt==1.12.1
